<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: 'font-bold text-md text-gray-800' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow mt-2 w-full text-gray-800 appearance-none focus:outline-none focus:border-blue-100 rounded border-2 border-gray-200 w-80" %>
  </div>

  <div class="field mt-4">
    <%= f.label :password, class: 'font-bold text-md text-gray-800'%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "shadow mt-2 w-full text-gray-800 appearance-none focus:outline-none focus:border-blue-100 rounded border-2 border-gray-200 w-80" %>
  </div>

  <div class="field mt-4">
    <%= f.label :password_confirmation, class: 'font-bold text-md text-gray-800' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow mt-2 w-full text-gray-800 appearance-none focus:outline-none focus:border-blue-100 rounded border-2 border-gray-200 w-80" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "w-full mt-4 cursor-pointer bg-blue-600 text-white font-medium p-2 rounded-md" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
