<div class="<%= "Comment-#{comment.id}" %> flex gap-1 mt-4">

  <% if comment %>
  <div class="flex-shrink-0">
  <% else %>
    <div class="flex-shrink-0 mr-3">
    <% end %>
    <%= image_tag comment.user.avatar, class: "h-6 w-6 rounded-full m-0" %>

  </div>

  <div class="flex-1 flex flex-col items-start">
    <strong><%= comment.user.name %></strong>
    <span><%= comment.contents %></span>
    <div class="flex gap-2 items-end like-comment-wrapper">
      <div class="like-btn">
        <%= render partial: "shared/like_button", locals: { post: comment, type: "Comment" } %>
      </div>
      <div class="reply-btn p-2">
        <%= link_to "Reply", "something", class: 'text-sm no-underline' %>
      </div>
    </div>
  <div class="reply-form">
    <%= form_with scope: :comment, url: comments_path do |f| %>
    <div class="grid grid-cols-3 gap-2 items-end">
      <div class="comment-input col-span-2">
        <%= f.text_field :contents,
                     placeholder: "Write something",
                     class:
                       "block mt-3 w-full text-gray-900 border-gray-300 bg-gray-50 rounded-lg text-xs focus:outline-none focus:border-blue-500" %>
      </div>
      <div class="submit">
        <%= f.hidden_field :comment_id, value: comment.id %>
        <%= f.submit "Post", class:
                   "w-full cursor-pointer ml-4 bg-blue-600 text-white text-sm font-medium p-2 rounded-md" %>
      </div>
    </div>
    <% end %>
    </div>
<div class="<%= "replies-for-#{comment.id}" %>">
<% if comment.comments.any? %>
  <%= render partial: "comments/comment",
  collection: comment.comments %>
<% end %>

</div>

  </div>
  </div>
