<%= turbo_frame_tag dom_id(comment), data: { toggle_Target: "post", turbo_frame: target }, class: 'w-full', hidden: true do %>
  <%= form_with scope: :comment, url: comments_path, autocomplete: "false" do |f| %>
    <div class="flex gap-2">
      <div class="basis-[80%]">
        <%= f.text_field :contents,
                     placeholder: "Write something",
                     class:
                       "shadow w-full text-gray-800 appearance-none focus:outline-none focus:border-blue-100 rounded border-2 border-gray-200 w-80" %>
      </div>

      <%= f.hidden_field comment.class.to_s.downcase + "_id", value: comment.id %>
      <div>
        <%= f.submit "Post",
                 class:
                   "w-full cursor-pointer bg-blue-600 text-white font-medium p-2 px-4 rounded-md" %>
      </div>
    </div>
  <% end %>
<% end %>
