<div class="flex block gap-4 not-prose mt-6">

  <div class="shrink-0 items-start">
    <% if user.avatar.attached? %>
      <%= image_tag user.avatar,
      class: "m-0 h-[40px] w-[40px] rounded-full overflow-hidden object-cover" %>
    <% else %>
      No image found
    <% end %>
  </div>
  <div class="flex flex-col w-full">
    <div class="flex justify-between items-end">
      <div class="name">
        <p class="font-bold gray-700 object-none"><%= user.name %></p>
      </div>
      <div class="button">
        <%= turbo_frame_tag "user-#{user.id}" do %>
          <% if current_user.friendships.where(friend_id: user.id).where(status: 'pending').any? %>
            <%= render "friends/user_card_button",
            path: friend_path(user.id),
            method: :delete,
            label: "Cancel request",
            css_class: "rounded-lg p-2 text-sm text-gray-600 bg-gray-200 font-bold",
            params: {
            } %>
          <% else %>

            <%= render "friends/user_card_button",
            path: friends_path,
            method: :post,
            label: "Add friend",
            css_class: "rounded-lg p-2 text-sm text-white bg-blue-600 font-bold",
            params: {
              user: {
                friend: user.id,
                status: "pending"
              }
            } %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="bio mt-2">

      <p class="gray-500"><%= user.bio %></p>
    </div>
  </div>
</div>
