<div
  class="
    flex
    flex-col
    post-wrapper
    max-w-xl
    p-2
    mt-6
    mx-auto
    border-b
    border-1
    border-gray-200
  "
>
  <div class="user flex w-full gap-4">
    <div class="avatar">
      <% if post.user.avatar.attached? %>
        <%= image_tag post.user.avatar.representation(:thumb).processed.url,
        class: "h-8 w-8 rounded-full m-0" %>
      <% else %>
        No image found
      <% end %>
    </div>
    <div class="name">
      <p class="font-semibold m-0"><%= link_to post.user.name, user_path(post.user.id), class: "no-underline" %></p>
      <p class="text-gray-500 text-sm m-0"><%= time_ago_in_words(post.created_at) %>
        ago</p>
    </div>
  </div>

  <div class="content">
    <% if post.images.attached? %>
      <% post.images.each do |image| %>
        <%= link_to(
          image_tag(image.representation(:feed).processed.url),
          post_path(post, image: image.id),
          data: {
            turbo_frame: "modal"
          }
        ) %>
      <% end %>
    <% end %>
    <p class="text-gray-800 mb-4"><%= post.body %></p>
  </div>
  <div
    class="
      flex
      mt-2
      gap-4
      like-wrapper
      items-end
      border-t
      border-1
      border-gray-200
    "
  >
    <%= render "shared/like_button", post: post %>
    <%= render "shared/comment_component", post: post %>
  </div>
  <!--
  <div class="comments-wrapper">
    <%= render "shared/comments", user: post.user, post: post %>
  </div>
  -->
</div>
