<% if @user.header_photo.attached? %>
  <div
    class="flex flex-col w-full h-[300px] brightness-50 z-0 bg-center bg-cover"
    style="background-image: url(<%= url_for(@user.header_photo) %>)"
  >
  </div>
  <%= form_with model: @user, url: upload_user_path, method: :post, multipart: true, class: 'rounded-full mx-auto w-32 h-32' do |f| %>

    <%= f.label :avatar do %>
      <%= f.file_field :avatar,
                   class: "hidden rounded-full",
                   onchange: "console.log(this.form);this.form.submit()" %>
      <%= image_tag @user.avatar,
      class:
        "relative mx-auto -mt-16 w-32 h-32 rounded-full overflow-hidden object-cover" %>
    <% end %>
  <% end %>
<% end %>
<h3 class="text-center"><%= @user.name %></h3>
<% if current_user.id != @user.id %>
  <%= render "friends/user_card_button", user: @user.id %>
<% end %>
<p class="p-2 w-2/3 mx-auto text-center text-gray-600"><%= @user.bio.split(/\.+/)[0..3].join(".") if !@user.bio.nil? %></p>
<% @posts.each do |post| %>
  <%= render "post", user: @user, post: post %>
<% end %>
