<%= turbo_frame_tag "post-#{post.id}" do %>
  <div class="flex gap-4 mt-2 like-wrapper items-end">
    <%= render "shared/like_button", post: post %>
    <%= render "shared/comment_component", post: post %>
  </div>
  <% post.comments.each do |comment| %>
    <div class="comments bg-gray-300 flex flex-col p-4 mt-4">

      <div class="flex">

        <div class="flex-shrink-0 mr-3">

          <%= image_tag comment.user.avatar, class: "h-6 w-6 rounded-full m-0" %>

        </div>

        <div class="flex-1 flex flex-col px-4 items-start">
          <strong><%= comment.user.name %></strong>
          <span><%= comment.contents %></span>
        </div>

      </div>
      <div class="comment-field flex">
        <%= form_with scope: :comment, url: comments_path do |f| %>
          <%= f.text_field :contents,
                       placeholder: "Write something",
                       class:
                         "shadow mt-3 text-gray-800 appearance-none focus:outline-none focus:border-blue-100 rounded border-2 border-gray-200 w-80" %>
          <%= f.submit "post" %>
        <% end %>
      </div>

    </div>
  <% end %>
<% end %>
