<%= turbo_frame_tag "post-#{post.id}" do %>
  <div class="flex gap-4 mt-2 like-wrapper items-end">
    <%= render "shared/like_button", post: post %>
    <%= button_to comments_path, class: 'flex gap-2 h-10 p-2 items-center' do %>

      <svg
        class="w-5 h-5 text-gray-800"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chat-left-dots"
        viewBox="0 0 16 16"
      >
        <path
          d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"
        />
        <path
          d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
        />
      </svg>
      <span class="text-gray-800 text-sm"><%= pluralize 3, "comment" %></span>
    <% end %>
  </div>
  <% post.comments.each do |comment| %>
    <div class="comments bg-gray-300 flex flex-col p-4 mt-4">

      <div class="flex">

        <div class="flex-shrink-0 mr-3">

          <%= image_tag comment.user.avatar, class: "h-6 w-6 rounded-full m-0" %>

        </div>

        <div class="flex-1 flex flex-col px-4 items-start">
          <strong><%= comment.user.name %></strong>
          <span><%= comment.contents %></span>
        </div>

      </div>
      <div class="comment-field flex">
        <%= form_with scope: :comment, url: comments_path do |f| %>
          <%= f.text_field :contents,
                       placeholder: "Write something",
                       class:
                         "shadow mt-3 text-gray-800 appearance-none focus:outline-none focus:border-blue-100 rounded border-2 border-gray-200 w-80" %>
          <%= f.submit "post" %>
        <% end %>
      </div>

    </div>
  <% end %>
<% end %>
