<%= turbo_frame_tag "like-#{dom_id(post)}" do %>
  <%= post.inspect %>
  <% default_args = {
    class: "h-10 p-2 items-center",
    params: {
      like: {
        likeable_id: post.id,
        likeable_type: "Post"
      }
    },
    method: :post
  } %>
  <% if post.likes.where(user: current_user).any? %>
    <% like = post.likes.where(user: current_user).first %>
    <% path = like_path(like) %>
    <% args = { method: :delete, data: { turbo_method: :delete } } %>
  <% else %>
    <% if post.has_attribute?(:likeable_type) %>
      <% new_args = { params: { like: { likeable_type: post.likeable_type } } }
      args = default_args.merge(new_args) %>

    <% end %>
    <% args = default_args %>
    <% path = likes_path %>
  <% end %>
  <%= path %>
  <%= args %>
  <%= button_to path, args do %>
    <div class="flex gap-2 items-center">
      <svg
        class="w-5 h-5 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 20 20"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4.008 8.714c1-.097 1.96-.45 2.792-1.028a25.112 25.112 0 0 0 4.454-5.72 1.8 1.8 0 0 1 .654-.706 1.742 1.742 0 0 1 1.65-.098 1.82 1.82 0 0 1 .97 1.128c.075.248.097.51.065.767l-1.562 4.629M4.008 8.714H1v9.257c0 .273.106.535.294.728a.99.99 0 0 0 .709.301h1.002a.99.99 0 0 0 .71-.301c.187-.193.293-.455.293-.728V8.714Zm8.02-1.028h4.968c.322 0 .64.08.925.232.286.153.531.374.716.645a2.108 2.108 0 0 1 .242 1.883l-2.36 7.2c-.288.813-.48 1.354-1.884 1.354-2.59 0-5.39-1.06-7.504-1.66"
        />
      </svg>
      <span class="count text-gray-800 text-sm"><%= pluralize post.likes.count, "like" %></span>
    </div>
  <% end %>
<% end %>
