<%= turbo_frame_tag "modal" do %>
  <div
    data-controller="modal"
    data-action="click@window->modal#close keydown.esc@window->modal#close"
    data-modal-target="modal"
    class="fixed bg-black bg-opacity-50 top-0 left-0 right-0 bottom-0"
  >
    <div
      class="
        relative
        top-20
        w-[80%]
        h-[80%]
        overflow-scroll
        z-[2]
        mx-auto
        p-0
        bg-white
        rounded-lg
        shadow-md
      "
    >

      <div class="post-container overflow-hidden flex h-full">

        <% if params[:image] %>
          <div class="image-container w-[70%] h-full bg-black">

            <div class="image">
              <%= image_tag @image.representation(:medium).processed.url,
              class: "not-prose object-contain" %>
            </div>
          </div>
        <% end %>

        <div class="flex flex-col grow p-4">
          <div
            class="
              user
              order-first
              p-4
              flex
              w-full
              gap-4
              border-b
              border-1
              border-gray-200
            "
          >
            <div class="avatar">
              <% if @post.user.avatar.attached? %>
                <%= link_to(
                  image_tag(
                    @post.user.avatar.representation(:thumb).processed.url,
                    class: "h-8 w-8 rounded-full m-0"
                  ),
                  user_path(@post.user.id)
                ) %>
              <% else %>
                No image found
              <% end %>
            </div>
            <div class="name">
              <p class="font-semibold m-0"><%= link_to @post.user.name, user_path(@post.user.id), class: "no-underline" %></p>
              <p class="text-gray-500 text-sm m-0"><%= time_ago_in_words(@post.created_at) %>
                ago</p>
            </div>
          </div>
          <div class="mt-2 body">
            <%= @post.body %>
          </div>

          <div class="comments overflow-y-scroll h-[80%]">
            <%= render "shared/comments", user: @post.user, post: @post %>
          </div>
          <div class="footer"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>
