<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose min-w-full flex flex-col">
    <header
      class="
        sticky
        py-4
        w-full
        p-4
        bg-white
        text-blue-700
        flex
        border-b
        border-slate-900
        border-opacity-10
      "
    >
      <h2 class="font-semibold m-0">Incel</h2>
      <% if current_user %>
        <%= render "shared/sidebar" %>
      <% end %>

    </header>
    <main class="my-12 px-5 pb-12 flex flex-cols w-full">

      <div class="mx-auto p-4 lg:w-2/3">
        <%= yield %>
      </div>
    </main>
    <%= turbo_frame_tag "modal", data: { controller: 'toggle'} %>
  </body>
</html>
