<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose min-w-full flex flex-col">
    <header class="w-full h-[80px] p-4 bg-blue-700 text-white flex">
      <h2 class="font-bold text-white m-0">LOGO</h2>
    </header>
    <main class="mx-auto px-5 pb-12 flex w-full">
      <div class="basis-1/5 pt-4"><%= render "shared/sidebar" %></div>
      <div class="basis-4/5 pt-4"><%= yield %></div>
      <div class="basis-0 hidden"></div>
    </main>
  </body>
</html>
