<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose min-w-full h-screen flex flex-col">
       <main class="flex w-full h-screen">
      <div class="hidden bg-cover lg:block lg:w-1/2" style="background-image: url(<%= asset_path 'viking-ship.jpg' %>)">
      </div>
              <div class="w-full  lg:w-1/2">
                <div class="auth ml-[100px] max-w-[400px] p-12">
<img class="h-14 mx-auto my-2 w-auto"src="<%= asset_path 'viking-logo.svg' %>" alt="Odin book logo">
                  <%= yield %></div></div>
      <div class="basis-0 hidden"></div>
    </main>
  </body>
</html>
